#target/
target/classes
target/jaxb2
target/maven-archiver
target/maven-status
target/generated-test-sources
target/surefire-reports
target/rest-model-0.0.1-SNAPSHOT.JAR
target/test-classes
target/spring5-mvc-rest-app-0.0.1-SNAPSHOT.jar
target/spring5-mvc-rest-app-0.0.1-SNAPSHOT.jar.original
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/